
*
{
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

/* Header */
nav
{
    text-align: center;
    background-color: #FFD55E;
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius: 1rem;
    padding-top: 1rem;
    
}
nav img
{
    display: block;
    margin: auto;
    padding: 1rem;
    max-width: 100px;
    min-height: 60px;
}

/* Main */
main
{
    margin: auto;
    padding: 1rem;
    max-width: 600px;
}
/* Textbox */
#TextArea
{
    padding-top:3rem;
}
#TextArea textarea
{
    width: 100%;
    min-height: 150px;
    max-height: 200px;
    display: block;
    margin: auto;
    border:1px solid black;
}

button
{
    display: block;
    margin: auto;
    padding:2rem,1rem ;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-color: #FFD55E;
}
#translate-text
{
    text-align: center;
    padding: 1rem;
}
#Minion-Text
{
    border: 1px solid black;
    width: 100%;
    min-height:10vh;
    max-height:20vh;
    overflow: auto;
    margin: auto;
}


footer
{
    background-color: #FFD55E;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer #about
{
    padding-bottom:4px;
}

footer p
{
    margin: auto;
    max-width: 600px;
}



